{% extends 'base.html' %}
{% load static %}

{% block specific_css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}" />
{% endblock %}

{% block content %}
<div class="profile-card">

  <!-- top profile information -->
  <div class="profile-card-information">

      <div class="profile-card-information-left-part">
        <img src="{% static 'branding/profile_photo.jpg' %}" alt="profile-image" />
      </div><!--e/left part -->

      <div class="profile-card-information-right-part">
        <div class="profile-card-information-right-part-top">
          <h1>username</h1>
          <a href="{% url 'profile_settings_edit_profile' %}">Edit Profile</a>
          <span class="fa fa-cog drop-down-menu"></span>
        </div>

        <div class="profile-card-information-right-part-middle">
          <a href=""><span>1</span> Posts</a>
          <a href=""><span>1</span> Follower</a>
          <a href=""><span>1</span> Following</a>
        </div>

        <div class="profile-card-information-right-part-bottom">
          <p><b>Name</b></p>
          <p>Bio ...</p>
        </div>
      </div><!-- e/right part -->


      <!-- bottom profile navigation -->
      <div class="profile-card-navigation">
        <a href=""><span class="fa fa-th-large"></span> POSTS</a>
        <a href=""><span class="fa fa-bookmark"></span> SAVED</a>
        <a href=""><span class="fa fa-tag"></span> TAGGED</a>
      </div>


    </div><!-- e/profile card information -->
  </div> <!--e/ profile card -->


  <!-- grid view -->
  <div class="profile-grid-view">
    <!-- after three posts always break -->
    <div class="grid-view-post-cell" style="background-image: url('{% static 'branding/profile_photo.jpg' %}');">
      <a href="">
      <div class="post-cell-link-container">
        <span class="fa fa-heart"> 106</span>
        <span class="fa fa-comment"> 14</span>
      </div>
      </a>
    </div>

    <div class="grid-view-post-cell">
      <a href="">
      <div class="post-cell-link-container">
        <span class="fa fa-heart"> 106</span>
        <span class="fa fa-comment"> 14</span>
      </div>
      </a>
    </div>

    <div class="grid-view-post-cell">
      <a href="">
      <div class="post-cell-link-container">
        <span class="fa fa-heart"> 106</span>
        <span class="fa fa-comment"> 14</span>
      </div>
      </a>
    </div>

    <br />

  </div><!-- /grid view -->
{% endblock %}
