{% extends 'base.html' %}
{% load static %}

{% block specific_css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/help_centre/help_centre.css' %}" />
{% endblock %}

{% block content %}
<div class="help-centre-content-card">
  <!-- top part -->
  <div class="help-centre-content-card-top-part">
    <h1>Help Centre</h1>
  </div>

  <!-- left part -->
  <div class="help-centre-content-card-left-part">
    <a href="">Using Instagram</a>
    <a href="">Managing Your Account</a>
    <a href="">Instagram for Business</a>
    <a href="">Troubleshooting and Login Help</a>
    <a href="">Privacy and Safety Center</a>
    <a href="">Threads</a>
  </div>

  <!-- right part -->
  <div class="help-centre-content-card-right-part">
    <h3>What's New</h3>
      <!-- max 5 of them will come -->
      <a href="">Answering Questions in a Live Q&A</a>
      <a href="">Answering Questions in a Live Q&A</a>
      <a href="">Answering Questions in a Live Q&A</a>
      <a href="">Answering Questions in a Live Q&A</a>

      <br />
      <br />

      <h3>Known Issues</h3>
      <p>
        We don't currently have any known issues to report. <a href="">Learn more</a> about what you can do if you're experiencing an issue.
      </p>
  </div>
</div>
{% endblock %}
