{% extends 'base.html' %}
{% load static %}

{% block specific_css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_settings/profile_settings.css' %}" />
{% endblock %}

{% block content %}
<div class="profile-settings-content-card">

  <!-- left navigation part -->
  <div class="profile-settings-content-card-left-part">
    <ul>
      <a href="{% url 'profile_settings_edit_profile' %}">Edit Profile</a>
      <a href="{% url 'profile_settings_change_password' %}">Change Password</a>
      <a href="{% url 'profile_settings_email_sms' %}">Email and SMS</a>
      <a href="{% url 'profile_settings_privacy_security' %}">Privacy and Security</a>
    </ul>
  </div>

  <!-- right content part -->
  <div class="profile-settings-content-card-right-part">


    <!-- sms and email form -->
    <form class="profile-settings-sms-email-form" method="POST" action="{% url 'profile_settings_email_sms' %}">
      {% csrf_token %}
      <h3>Subscribe to:</h3>
      <Br />

      {% if current_cinstagram_user_settings.feedback_emails == True %}
        <input type="checkbox" name="feedback_emails" value="true" checked/>
      {% else %}
        <input type="checkbox" name="feedback_emails" value="true"/>
      {% endif %}
      <b>Feedback Emails</b><br />
      <i>Give feedback on Instagram.</i>
      <br><br />

      {% if current_cinstagram_user_settings.reminder_emails == True %}
        <input type="checkbox" name="reminder_emails" value="true" checked/>
      {% else %}
        <input type="checkbox" name="reminder_emails" value="true"/>
      {% endif %}
      <b>Reminder emails</b><br />
      <i>Get notifications you may have missed.</i>
      <br><br />

      {% if current_cinstagram_user_settings.product_emails == True %}
        <input type="checkbox" name="product_emails" value="true" checked/>
      {% else %}
        <input type="checkbox" name="product_emails" value="true"/>
      {% endif %}
      <b>Product emails</b><br />
      <i>Get tips about Instagram's tools.</i>
      <br><br />

      {% if current_cinstagram_user_settings.news_emails == True %}
        <input type="checkbox" name="news_emails" value="true" checked/>
      {% else %}
        <input type="checkbox" name="news_emails" value="true"/>
      {% endif %}
      <b>News emails</b><br />
      <i>Learn about new Instagram features.</i>
      <br><br />

      {% if current_cinstagram_user_settings.sms_messages == True %}
        <input type="checkbox" name="sms_messages" value="true" checked/>
      {% else %}
        <input type="checkbox" name="sms_messages" value="true"/>
      {% endif %}
      <b>Text (SMS) Messages</b><br />
      <i>Get notifications by text message.</i>
      <br><br />

      <input value="Submit" class="profile-sms-email-submit-btn" type="submit" name="sms_email_submit_btn" />
    </form>
  </div>

</div><!-- e/main card -->
{% endblock %}
