.press-content-card {
  background-color: #FAFAFA;
  padding: 10px;
  height: auto;
  padding-top: 250px;
}

.press-content-card-post {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 50px;
  -webkit-box-shadow: -1px -3px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -3px 14px -4px rgba(0,0,0,0.75);
  box-shadow: -1px -3px 14px -4px rgba(0,0,0,0.75);
}

.press-content-card-post h3 {
  color: #9F9F9F;
  font-size: 14px;
  margin-bottom: 10px;
}

.press-content-card-post h1 {
  color: black;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: bolder;
}

.press-content-card-post p {
  font-weight: lighter;
  margin-bottom: 15px;
}

.press-content-card-post a {
  text-decoration: none;
  color: #B61721;
}

.press-content-card-view-more-btn {
    margin: 0 auto;
    width: 150px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.press-content-card-view-more-btn a {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #B61721;
  color: white;
  text-decoration: none;
  border: 1px solid #B61721;
}

.press-content-card-view-more-btn a:hover {
  transition: 0.5s;
  color: #B61721;
  background-color: transparent;
}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  .press-content-card-post {
    width: 80%;
    padding: 0px;
    padding-bottom: 40px;
    -webkit-box-shadow: -1px -3px 14px -4px #FFFFFF;
    -moz-box-shadow: -1px -3px 14px -4px #FFFFFF;
    box-shadow: -1px -3px 14px -4px #FFFFFF;
    border-bottom: 1px solid lightgrey;
  }

  .press-content-card-post h1 {
    font-size: 20px;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .press-content-card-post {
    width: 80%;
    padding: 0px;
    padding-bottom: 40px;
    -webkit-box-shadow: -1px -3px 14px -4px #FFFFFF;
    -moz-box-shadow: -1px -3px 14px -4px #FFFFFF;
    box-shadow: -1px -3px 14px -4px #FFFFFF;
    border-bottom: 1px solid lightgrey;
  }

  .press-content-card-post h1 {
    font-size: 20px;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  .press-content-card-post {
    width: 80%;
    padding: 0px;
    padding-bottom: 40px;
    -webkit-box-shadow: -1px -3px 14px -4px #FFFFFF;
    -moz-box-shadow: -1px -3px 14px -4px #FFFFFF;
    box-shadow: -1px -3px 14px -4px #FFFFFF;
    border-bottom: 1px solid lightgrey;
  }

  .press-content-card-post h1 {
    font-size: 20px;
  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* nothing for now */
}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {
  /* nothing for now */
}
