<!doctype html>
<html>

<head>
  <title>Ceddit</title>

  <!-- Meta Info -->
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="ceddit, reddit, reddit-clone, cloning, reddit, python" />
  <meta name="description" content="Reddit clone built with flask python and nginx" />
  <meta name="author" content="demir antay, Demir Antay, @demirantay" />

  <!-- FAVICON -->
  <link rel="icon" href="{{ url_for('static', filename='branding/ceddit_logo.png') }}"

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">

  <!-- FONT AWSOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- MY CSS LINKS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />

  <!-- specific css links -->
  {% block css_links %}

  {% endblock %}

</head>

  <body>

    {% block content %}

    {% endblock %}

  </body>
</html>
