{% extends 'base.html' %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmer_panel/programmer_panel.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmer_panel/responsive_desktop.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmer_panel/responsive_lgdesktop.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmer_panel/responsive_phone.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/programmer_panel/responsive_tablet.css') }}" />
{% endblock %}

{% block content %}

<div id="programmer_signup_container">

  {% if data.invalid_credentials == True %}
    <h1 style="color:red;">This username or password already exists</h1>
  {% endif %}

  {% if data.empty_credentials == True %}
    <h1 style="color:red;">You cannot enter empty input</h1>
  {% endif %}


  <h1>Programmer Panel Signup</h1>

  <!-- Signup Form -->
  <div id="programmer_signup_form">
    <form action="{{ url_for('programmer_panel_signup') }}" method="POST">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
        <input type="password" placeholder ="key" name="key" />
        <input type="submit" value="signup" name="submit_button" id="signup_submit_button" />
    </form>
  </div>

  <p>Already have an account? <a href="{{ url_for('programmer_panel_login') }}">Login</a></p>

</div>
{% endblock %}
