{% extends 'base.html' %}

{% block css_links %}

{% endblock %}

{% block content %}

<h1>Programmer Panel Signup</h1>

<!-- Login Form -->
<form action="" method="POST">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <input type="password" placeholder ="key" name="key" />
    <input type="submit" value="login" name="submit_button" />
</form>

<p>Already have an account? <a href="">Login</a></p>
{% endblock %}
