{% extends 'base.html' %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication/signup.css') }}" />
{% endblock %}

{% block content %}

<div class="signup_wrapper">

  <!-- left side banter -->
  <div class="left_side_banter"></div>

  <div class="right_side">
    <h3>
      By having a Reddit account, you can join, vote, and comment
      on all of your favorite Reddit content.
    </h3>

    <form>
        <input type="text" placeholder="email" />
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <input type="submit" value="SIGNUP"/>
    </form>

    <p>
        Already a Redditor ? <a href="">LOG IN</a>
    </p>
  </div>

</div>

{% endblock %}
