<!doctype html>
<html>

<head>
  <title>Ceddit</title>

  <!-- Meta Info -->
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="ceddit, reddit, reddit-clone, cloning, reddit, python" />
  <meta name="description" content="Reddit clone built with flask python and nginx" />
  <meta name="author" content="demir antay, Demir Antay, @demirantay" />

  <!-- FAVICON -->
  <link rel="icon" href="{{ url_for('static', filename='branding/ceddit_logo.png') }}"  />

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">

  <!-- FONT AWSOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <!-- MY CSS LINKS -->
  <link rel="stylesheet" type="text/css" href="home.css" />

  <!-- specific css links -->


</head>

  <body>

    <div class="container">

      <!-- TOP MENU NAVBAR-->
      <div class="top-navbar">
        <a href=""><img src="ceddit_text.png" /></a>
        <a href="" class="feed-filter-dropdown"><span class="fas fa-fire feed-filter-dropdown-icon"></span> All <span class="fas fa-sort-down feed-filter-dropdown-arrow"></span></a>
        <form class="search-form">
          <button type="submit"><i class="fas fa-search"></i></button>
          <input type=text placeholder="Search Reddit" />
        </form>
        <a href="" class="user-dropdown-btn"><span class="fa fa-user"></span>  <span class="fas fa-sort-down"></span></a>
        <a href="" class="signup-btn">SIGN UP</a>
        <a href="" class="login-btn">LOG IN</a>
        <a href="" class="feed-changer-btn"><i class="fas fa-grip-horizontal"></i></a>
        <a href="" class="feed-changer-btn"><i class="fas fa-fire"></i></a>
      </div>

      <!-- SORT & VIEW FILTERS -->

      <div class="sort-view-and-filter-bar">
        <p id="filter-header">VIEW</p>
        <a href="" class="toggle-large-view"><span class="fas fa-square"></span></a>
        <a href="" class="toggle-medium-view"><span class="fas fa-bars"></span></a>
        <div class="horizontal-division-line"></div> <!-- this is the division horizontal line -->
        <p class="sort-type">SORT<a href=""> <span class="fas fa-pepper-hot" style="margin-left:10px; margin-right:5px; color: #0074c6"></span> HOT <span class="fas fa-sort-down" style="margin-left:5px;"></span></a></p>
      </div>

      <!-- LEFT SIDE POSTS SECTION -->
      <div class="left-side-container">

        <!-- post cell -->
          <div class='post-cell'>

            <!-- upvote down vote mechanism -->
            <div class="post-upvote-downvote-part">
              <form>
                <button type="submit" class="post-upvote-btn"><span class="fas fa-sort-up"></span></button>
              </form>
              <p class="post-upvote-counter">68.1k</p>
              <form>
                <button type="submit" class="post-downvote-btn"><span class="fas fa-sort-down"></span></button>
              </form>
            </div>

            <!-- post image part -->
            <div class="post-image-part">
              <a href=""><div class="post-image"></div></a>
            </div>

            <!-- post right side container -->
            <div class="post-right-side-container">
              <!-- upper part where it shows header, and image link, author, time -->
              <div class="post-info-part">
                <!-- upper box -->
                <div class="post-info-part-upper-box">
                  <a href="" class="upper-box-header">Landscape Perfectly Divided By The Rails Of A Fence. Landscape Perfectly Divided By The Rails Of A Fence. </a>
                  <a href="" class="upper-box-img-link">https://i.redd.it/kuo91c2vres31.jpg</a>
                </div>
                <!-- bottom box -->
                <div class="post-info-part-bottom-box">
                  <a href="" class="post-subreddit-link">r/oddlysatisfying</a>
                  <p>. Posted by <a href="">u/pokey_bum_wankk</a></p>
                  <p>2 hours ago</p>
                </div>
              </div>

              <!-- post footer part that shows options such as link, comment, share ... etc. -->
              <div class="post-footer">
                <a href=""><span class="fas fa-comment-alt"></span> Comments</a>
                <a href=""><span class="fas fa-share"></span> Share</a>
                <a href=""><span class="fas fa-bookmark"></span> Save</a>
                <a href=""><span class="fas fa-ban"></span> Hide</a>
                <a href=""><span class="fas fa-flag"></span> Report</a>
              </div>
            </div> <!-- post right side container -->

          </div><!--/post-cell -->

          <!-- post cell -->
            <div class='post-cell'>

              <!-- upvote down vote mechanism -->
              <div class="post-upvote-downvote-part">
                <form>
                  <button type="submit" class="post-upvote-btn"><span class="fas fa-sort-up"></span></button>
                </form>
                <p class="post-upvote-counter">68.1k</p>
                <form>
                  <button type="submit" class="post-downvote-btn"><span class="fas fa-sort-down"></span></button>
                </form>
              </div>

              <!-- post image part -->
              <div class="post-image-part">
                <a href=""><div class="post-image"></div></a>
              </div>

              <!-- post right side container -->
              <div class="post-right-side-container">
                <!-- upper part where it shows header, and image link, author, time -->
                <div class="post-info-part">
                  <!-- upper box -->
                  <div class="post-info-part-upper-box">
                    <a href="" class="upper-box-header">Landscape Perfectly Divided By The Rails Of A Fence. Landscape Perfectly Divided By The Rails Of A Fence. </a>
                    <a href="" class="upper-box-img-link">https://i.redd.it/kuo91c2vres31.jpg</a>
                  </div>
                  <!-- bottom box -->
                  <div class="post-info-part-bottom-box">
                    <a href="" class="post-subreddit-link">r/oddlysatisfying</a>
                    <p>. Posted by <a href="">u/pokey_bum_wankk</a></p>
                    <p>2 hours ago</p>
                  </div>
                </div>

                <!-- post footer part that shows options such as link, comment, share ... etc. -->
                <div class="post-footer">
                  <a href=""><span class="fas fa-comment-alt"></span> Comments</a>
                  <a href=""><span class="fas fa-share"></span> Share</a>
                  <a href=""><span class="fas fa-bookmark"></span> Save</a>
                  <a href=""><span class="fas fa-ban"></span> Hide</a>
                  <a href=""><span class="fas fa-flag"></span> Report</a>
                </div>
              </div> <!-- post right side container -->

            </div><!--/post-cell -->


      </div><!-- /LEFT SIDE CONTAINER -->


      <!-- RIGHT SIDE -->
      <div class="right-side-container">

        <!-- TOP GROWING COMMUNITIES CARD -->
        <div class="top-growing-communities-card">
          <div class="sub-banner">
            <h3>Today's Top Growing Communities</h3>
          </div>
          <!-- 5 cells (5is the limit)-->
          <a href="" class="top-growing-comunity-cell-a">
            <div class="top-growing-communities-cell">
              <p class="sub-rank">1 <span class="fas fa-sort-up"></span></p>
              <div class="sub-picture"></div>
              <p class="sub-name">r/hearthstone</p>
            </div>
          </a>

          <a href="" class="top-growing-comunity-cell-a">
            <div class="top-growing-communities-cell">
              <p class="sub-rank">2 <span class="fas fa-sort-up"></span></p>
              <div class="sub-picture"></div>
              <p class="sub-name">r/Blizzard</p>
            </div>
          </a>

          <a href="" class="top-growing-comunity-cell-a">
            <div class="top-growing-communities-cell">
              <p class="sub-rank">3 <span class="fas fa-sort-up"></span></p>
              <div class="sub-picture"></div>
              <p class="sub-name">r/nba</p>
            </div>
          </a>

          <a href="" class="top-growing-comunity-cell-a">
            <div class="top-growing-communities-cell">
              <p class="sub-rank">4 <span class="fas fa-sort-up"></span></p>
              <div class="sub-picture"></div>
              <p class="sub-name">r/nottheonion</p>
            </div>
          </a>

          <a href="" class="top-growing-comunity-cell-a">
            <div class="top-growing-communities-cell">
              <p class="sub-rank">5 <span class="fas fa-sort-up"></span></p>
              <div class="sub-picture"></div>
              <p class="sub-name">r/news</p>
            </div>
          </a>

          <div class="text-align-center-div">
            <a href="" class="btn-large btn-blue">VIEW ALL</a>
          </div>

          <!-- 4 cateogry link tags -->
          <div class="category-tags">
            <a href="">Sports</a>
            <a href="">News</a>
            <a href="">Gaming</a>
            <a href="">Aww</a>
          </div>

        </div><!--/top growing communities end -->

        <!-- TRENDING COMMUNITIES CARD -->
        <div class="trending-communities-card">
          <div class="trending-communities-card-header">
            <h4>TRENDING COMMUNITIES</h4>
          </div>

          <!-- cel max (5) -->
          <div class="trending-communities-cell">
            <div class="tending-communities-cell-sub-picture"></div>
            <div class="trending-communities-cell-sub-description">
              <a href=""><p>r/newsbloopers</p></a>
              <p>28.5k members</p>
            </div>
            <a href="" class="btn-medium btn-blue">JOIN</a>
          </div><!--/cell-->

          <div class="trending-communities-cell">
            <div class="tending-communities-cell-sub-picture"></div>
            <div class="trending-communities-cell-sub-description">
              <a href=""><p>r/newsbloopers</p></a>
              <p>28.5k members</p>
            </div>
            <a href="" class="btn-medium btn-blue">JOIN</a>
          </div><!--/cell-->

          <div class="trending-communities-cell">
            <div class="tending-communities-cell-sub-picture"></div>
            <div class="trending-communities-cell-sub-description">
              <a href=""><p>r/newsbloopers</p></a>
              <p>28.5k members</p>
            </div>
            <a href="" class="btn-medium btn-blue">JOIN</a>
          </div><!--/cell-->

          <div class="trending-communities-cell">
            <div class="tending-communities-cell-sub-picture"></div>
            <div class="trending-communities-cell-sub-description">
              <a href="">r/newsbloopers</a>
              <p>28.5k members</p>
            </div>
            <a href="" class="btn-medium btn-blue">JOIN</a>
          </div><!--/cell-->

          <div class="trending-communities-cell">
            <div class="tending-communities-cell-sub-picture"></div>
            <div class="trending-communities-cell-sub-description">
              <a href=""><p>r/newsbloopers</p></a>
              <p>28.5k members</p>
            </div>
            <a href="" class="btn-medium btn-blue">JOIN</a>
          </div><!--/cell-->

        </div><!-- /trending communities card -->

        <!-- POPULAR COMMUNITIES CARD -->
        <div class="popular-communities-card">

        </div><!-- popular communities card -->

        <!-- FOOTER CARD -->
        <div class="footer-card">
          <div class="footer-card-left-side">
            <h3>Reddit</h3>
            <a href="">About</a>
            <a href="">Careers</a>
            <a href="">Press</a>
            <a href="">Advertise</a>
            <a href="">Blog</a>
          </div>

          <div class="footer-card-right-side">
            <h3>Using Reddit</h3>
            <a href="">Help</a>
            <a href="">Reddit App</a>
            <a href="">Reddit Coins</a>
            <a href="">Reddit Premium</a>
            <a href="">Reddit Gifs</a>
            <a href="">Directory</a>
          </div>

          <div class="footer-card-bottom-side">
            <a href="">Terms |</a>
            <a href="">Content Policy |</a>
            <a href="">Privacy Policy |</a>
            <a href="">Mod Policy | </a>
            <a href="https://github.com/demirantay">Coded by Demir Antay</a>
          </div>

        </div><!--/footer card -->

      </div><!--/right side container -->

      <!-- Back to top button -->
      <div class="text-align-center-div">
        <a href="" class="btn-medium btn-blue back-to-top-btn">BACK TO TOP</a>
      </div>


    </div> <!-- container -->

  </body>
</html>
