* {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6, button, a, li, span, i, b {
  font-family: "Roboto";
}

.container {
  background-color: #DAE0E6;
  height: auto;
  width: 100%;
  padding-bottom: 30px;
}

.text-align-center-div {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* TOP MENU NAVBAR -------------------------------------------------------- */

.top-navbar {
  background-color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #F2F4F4;
  top:0px;
  z-index: 99;

}

.top-navbar form, button, input, img, a {
  display: inline-block;
  vertical-align: top;
}

.top-navbar img {
  margin-top: 7px;
  margin-left: 20px;
  height: 36px;

  display: inline-block;
}

.feed-filter-dropdown {
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  height: 28px;
  margin-top: 9px;
  border-radius: 5px;
  padding-top: 5px; /*this deltes 5px of the height if you delete this readd that 5px to the height */
  margin-left: 30px;
  width: 260px;
  border: 1px solid white;
  margin-right: 15px;
}

.feed-filter-dropdown:hover {
  border-color: lightgrey;
}

.feed-filter-dropdown-icon {
  margin-left: 10px;
}

.feed-filter-dropdown-arrow {
  float: right;
  margin-right: 20px !important;
color: grey !important;
}


.feed-filter-dropdown span {
  color: #0074c6;
  margin-right: 5px;
}

.search-form {

}

.search-form button {
  background-color: #F8F9F9;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #E5E8E8;
  border-right-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
  margin-top: 5px;
  color: #CACFD2;
}

.search-form input {
  background-color: #F8F9F9;
  font-size: 16px;
  padding: 11px 0px 10px 0px;
  border: 1px solid #E5E8E8;
  border-left-color: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 250px;
  margin-top: 5px;
}

.feed-changer-btn {
  float: right;
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  font-size: 16px;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  color: black;
}
.feed-changer-btn:hover {
  background-color: #E5E8E8;
}

.login-btn {
  float: right;
  font-size: 14px;
  padding: 8px 20px;
  color: #0074c6;
  background-color: white;
  border-radius: 5px;
  font-weight: bolder;
  margin-right: 5px;
  margin-top: 8px;
  text-decoration: none;
  border: 1px solid #0074c6;
  text-decoration: none;
}
.login-btn:hover {
  opacity: 0.5;
}

.signup-btn {
  float: right;
  font-size: 14px;
  padding: 8px 20px;
  color: white;
  background-color: #0074c6;
  border-radius: 5px;
  font-weight: bolder;
  margin-right: 5px;
  margin-top: 8px;
  border: 1px solid #0074c6;
  text-decoration: none;
}

.signup-btn:hover {
  opacity: 0.5;
}

.user-dropdown-btn {
  float: right;
  margin-right: 15px;
  color: grey;
  border: 1px solid lightgrey;
  padding: 8px 20px;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  margin-top: 6px;
  text-decoration: none;
}

/* SORT & VIEW FILTERS ---------------------------------------------------- */

.sort-view-and-filter-bar {
  margin-top: 52px;
  background-color: white;
  height: 50px;
  width: 100%;
  font-size: 10px;
  color: grey;
  font-weight: 900;
}

.sort-view-and-filter-bar p {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}

#filter-header {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px;
}

.toggle-large-view {
  display: inline-block;
  color: #0074c6;
  font-size: 22px;
  margin-top: 13px;
}

.toggle-medium-view {
  display: inline-block;
  color: #0074c6;
  font-size: 22px;
  margin-top: 13px;
  margin-left: 5px;
}

.horizontal-division-line {
  display: inline-block;
  height: 20px;
  margin-top: 15px;
  width: 30px;
  border-left: 2px solid lightgrey;
  margin-left: 20px;
}

.sort-type {
  display: inline-block;
  margin-top: 18px;
  font-size: 11px;
}

.sort-type a {
  color: #7F8C8D;
  text-decoration: none;
  margin-top: -2px;
}

.sort-type span {
  font-size: 15px;
  margin-right: 10px;
}

/* LEFT SIDE OF HOMEPAGE --------------------------------------------------*/


.left-side-container {
  height: 2000px;
  width: 65%;
  background-color: grey;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
}

.post-cell {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid #CACFD2;
  border-bottom-color: transparent;
  padding-top: 10px;
  position: relative;
}

.post-cell:hover {
  border-color: #7F8C8D;
}

.post-upvote-downvote-part {
  width: 40px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  background-color: #F8F9FA;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
}

.post-upvote-btn {
  padding: 0px;
  font-size: 23px;
  color: #7F8C8D;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 20px;
  width: 20px;
}

.post-upvote-btn:hover {
  background-color: #CACFD2;
  color: #27AE60;
}

.post-downvote-btn {
  font-size: 23px;
  color: #7F8C8D;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.post-downvote-btn span {
  margin-top: -30px;
}

.post-downvote-btn:hover {
  background-color: transparent;
  color: #C0392B;
}

.post-upvote-counter {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: -3px;
  z-index: 1;
}

.post-image-part {
  height: 100%;
  width: 100px;
  text-align: center;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.post-image {
  height: 60px;
  width: 80px;
  background-color: black;
  border-radius: 4px;
}

.post-right-side-container {
  display: inline-block;
  height: auto;
  width: 650px;
  background-color: transparent;
}

.post-info-part {
  background-color: transparent;
}

.post-info-part-upper-box {
  margin-bottom: 5px;
}

.upper-box-header {
  color: black;
  font-weight: 900;
  font-size: 17px;
  display: inline;
}

.upper-box-img-link {
  color: #0074c6;
  vertical-align: bottom;
  display: inline;
}
.upper-box-img-link:hover {
  text-decoration: underline;
}

.post-info-part-bottom-box {
  margin-bottom: 10px;
}

.post-info-part-bottom-box a, p {
  display: inline-block;
  vertical-align: bottom;
  font-size: 13px;
  color: #7F8C8D;
  font-weight: lighter;
}

.post-info-part-bottom-box a:hover {
  text-decoration: underline;
}

.post-subreddit-link {
  color: black !important;
  font-weight: bold !important;
}


.post-footer {
  background-color: transparent;
  margin-bottom: 5px;
}

.post-footer a {
  color: #797979;
  margin-right: 5px;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 3px;
}

.post-footer a:hover {
  background-color: lightgrey;
}


/* RIGHT SIDE OF HOMEPAGE --------------------------------------------------*/
.right-side-container {
  height: auto;
  width: 350px;
  background-color: transparent;
  margin-top: 25px;
  margin-right: 25px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  margin-right: 25px;
}

/* TOP GROWING COMMUNITIES CARD-------------------------------------------- */
.top-growing-communities-card {
  height: 460px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sub-banner {
  width: 100%;
  height: 80px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: grey;
  text-align: center;
}

.sub-banner h3 {
  color: white;
  background-color: transparent;
  padding-top: 45px;
  font-size: 16px;
}

.top-growing-communities-cell {
  height: 50px;
  width: 100% + 1px;
  background-color: white;
  border: 1px solid #F2F4F4;
}

.top-growing-comunity-cell-a {
  display: block;
  font-size: 16px;
}

.sub-rank {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 15px;
}

.sub-rank span {
  color: #2ECC71;
}

.sub-picture {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 10px;
  margin-right: 10px;
}

.sub-name {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.btn-medium {
  background-color: white;
  color: black;
  padding: 8px 30px;
  font-family: "Roboto";
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 900;
  border: 1px solid black;
}

.btn-medium:hover {
  opacity: 0.5;
}

.btn-large {
  background-color: white;
  color: black;
  padding: 7px 120px;
  font-family: "Roboto";
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid black;
}

.btn-large:hover {
  opacity: 0.5;
}

.btn-blue {
  background-color: #0074c6;
  border-color: #0074c6;
  color: white;
}

.category-tags {
  text-align: center;
  margin-top: 20px;
}

.category-tags a {
  background-color: #F2F3F4;
  color: #0074c6;
  text-decoration: none;
  padding: 6px 11px;
  border-radius: 2px;
  margin: 0px 5px;
  font-size: 14px;
}

.category-tags a:hover {
  opacity: 0.5;
}


/* TRENDING COMMUNITIES CARD ---------------------------------------------- */
.trending-communities-card {
  height: 350px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.trending-communities-card-header {
  padding-top: 15px !important;
  margin-left: 30px;
  font-size: 12px;
  font-weight: 900;
}

.trending-communities-cell {
  background-color: white;
  width: 100% - 15px; /* -15 because there is +15 marginleft pixels */
  height: 45px;
  padding-top: 15px;
  margin-bottom: 2px;
  margin-left: 15px;
}

.tending-communities-cell-sub-picture {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  margin-left: 15px;
}

.trending-communities-cell-sub-description {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -15px;
  margin-right: 45px;
  background-color: red;
}

.trending-communities-cell-sub-description p, a {
  font-size: 13px;
  color: black;
  text-decoration: none;

}

.trending-communities-cell-sub-description a:hover {
  text-decoration: underline;
}


/* POPULAR COMMUNITIES CARD ----------------------------------------------- */
.popular-communities-card {
  height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* FOOTER CARD ------------------------------------------------------------ */
.footer-card {
  height: 250px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: lighter;
}

.footer-card-left-side {
  background-color: white;
  width: 150px;
  height: 180px;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
}

.footer-card-left-side h3 {
  margin-bottom: 15px;
  font-size: 15px;
}

.footer-card-left-side a {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.footer-card-left-side a:hover {
  text-decoration: underline;
}

.footer-card-right-side {
  background-color: white;
  width: 150px;
  height: 180px;
  display: inline-block;
  vertical-align: top;
}

.footer-card-right-side h3 {
  margin-bottom: 15px;
  font-size: 15px;
}

.footer-card-right-side a {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.footer-card-right-side a:hover {
  text-decoration: underline;
}

.footer-card-bottom-side {
  background-color: white;
  width: 300px;
  height: 50px;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 15px;
}

.footer-card-bottom-side a {
  font-size: 14px;
  float: left;
  margin-bottom: 10px;
  margin-right: 7px;
}

.footer-card-bottom-side a:hover {
  text-decoration: underline;
}


.back-to-top-btn {
  position: absolute;
  right: 0;
  border: 0;
  margin-right: 120px;
  margin-top: -100px;
}
