{% extends 'base.html' %}
{% load static %}

{% block specific_css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search/search.css' %}" />
{% endblock %}

{% block content %}
<div class="search-container">

  <!-- search bar -->
  <div class="search-bar">

    <div class="search-navigation-links">
      <a href="">accounts</a>
      <a href="">hashtags</a>
      <a href="">locations</a>
    </div>

    <form>
      <input type="text" placeholder="Account Search" />
      <button type="submit"><span class="fa fa-search"></span></button>
    </form>
  </div>

  <!-- accounts list -->

  <div class="searched-accounts">
    <div class="searched-account-cell">
      <div class="searched-account-cell-profile-photo" style="background-image: url('{% static 'branding/profile_photo.jpg' %}');"></div>
      <h3>John Smith</h3>
      <h4>@username</h4>
      <form>
        <input type="submit" value="follow" />
      </form>
    </div><!-- e/cell -->

    <div class="searched-account-cell">
      <div class="searched-account-cell-profile-photo" style="background-image: url('{% static 'branding/profile_photo.jpg' %}');"></div>
      <h3>John Smith</h3>
      <h4>@username</h4>
      <form>
        <input type="submit" value="follow" />
      </form>
    </div><!-- e/cell -->

    <div class="searched-account-cell">
      <div class="searched-account-cell-profile-photo" style="background-image: url('{% static 'branding/profile_photo.jpg' %}');"></div>
      <h3>John Smith</h3>
      <h4>@username</h4>
      <form>
        <input type="submit" value="follow" />
      </form>
    </div><!-- e/cell -->

    <div class="searched-account-cell">
      <div class="searched-account-cell-profile-photo" style="background-image: url('{% static 'branding/profile_photo.jpg' %}');"></div>
      <h3>John Smith</h3>
      <h4>@username</h4>
      <form>
        <input type="submit" value="follow" />
      </form>
    </div><!-- e/cell -->
  </div>

</div>
{% endblock %}
