<!doctype html>
<html>

<head>
  <title>Cinstagram</title>

  <!-- Meta Info -->
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="cinstagram, instagram, instagram-clone, cloning, instagram, python, flask, nginx" />
  <meta name="description" content="Instagram clone built with flask python and nginx" />
  <meta name="author" content="demir antay, Demir Antay, @demirantay" />

  <!-- FAVICON -->
  <link rel="icon" href="{{ url_for('static', filename='branding/app-logo.png') }}" />

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">

  <!-- FONT AWSOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- BASE CSS LINKS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top-nav.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}" />


  <style>
    .authentication_control_panel {
      border: 1px solid black;
      padding: 30px;
      margin: 20px;
    }
  </style>

</head>

<body>

  <h1>Temporary Control Panel</h1>
  <hr />

  <div class="authentication_control_panel">
      <h2>Cinstagram User Model</h2>
      <form method="POST" action="{{ url_for("temporary_control_panel") }}">
          <input type="text" name="email" placeholder="email" />
          <input type="text" name="full_name" placeholder="full_name" />
          <input type="text" name="username" placeholder="username" />
          <input type="text" name="password" placeholder="password" />
          <input type="submit" value="Create" name="user_create_form_submit_btn" />
      </form>
  </div>


</body>

</html>
