{% extends 'base.html' %}

{% block specific_css_links %}

{% endblock %}

{% block content %}

<div class="about-content-card">
  <!-- left part -->
  <div class="about-content-card-left-part">
    <h2>ABOUT</h2>
    <a href="">Company</a>
    <a href="">Jobs</a>
    <a href="">Legal</a>
  </div>
  <!-- right part -->
  <div class="about-content-card-right-part">
    <h1>Work At Instagram</h1>

    <p>
     Our small teams inspire creativity around the world by helping over 500 million people capture and share beautiful photos and videos. Join us!
    </p>

    <!-- Teams -->
    <ul>
        <a href=""><li>Data & Analytics</li></a>
        <a href=""><li>Design & User Experience, Instagram, Research</li></a>
        <a href=""><li>Business Development & Partnerships</li></a>
        <a href=""><li>Software Engineering</li></a>
        <a href=""><li>Instagram, Legal, Finance, Facilities & Admin</li></a>
        <a href=""><li>Instagram, Software Engineering</li></a>
        <a href=""><li>Data & Analytics, Instagram</li></a>
        <a href=""><li>Sales & Marketing</li></a>
        <a href=""><li>Communications & Public Policy</li></a>
        <a href=""><li>Creative</li></a>
        <a href=""><li>Product Management</li></a>
        <a href=""><li>Communications & Public Policy, Instagram</li></a>
        <a href=""><li>Research</li></a>
        <a href=""><li>Software Engineering, Instagram</li></a>
        <a href=""><li>Design & User Experience, Research, Instagram</li></a>
        <a href=""><li>Instagram</li></a>
    </ul>

    <!-- team specific jobs -->
    <h2>Jobs</h2>

    <h3>Data & Analytics</h3>
    <ul>
        <a href=""><li>Job Title and Its location</li></a>
        <a href=""><li>Job Title and Its location</li></a>
    </ul>

    <br />
    <h3>Design & User Experience, Instagram, Research</h3>
    <ul>
        <a href=""><li>Job Title and Its location</li></a>
        <a href=""><li>Job Title and Its location</li></a>
    </ul>

    <br />
    <h3>Business Development & Partnerships</h3>
    <ul>
        <a href=""><li>Job Title and Its location</li></a>
        <a href=""><li>Job Title and Its location</li></a>
    </ul>

    <br />
    <h3>Software Engineering</h3>

    <br />
    <h3>Instagram, Legal, Finance, Facilities & Admin</h3>

    <br />
    <h3>Instagram, Software Engineering</h3>

    <br />
    <h3>Data & Analytics, Instagram</h3>

    <br />
    <h3>Sales & Marketing</h3>

    <br />
    <h3>Communications & Public Policy</h3>

    <br />
    <h3>Creative</h3>

    <br />
    <h3>Product Management</h3>

    <br />
    <h3>Communications & Public Policy, Instagram</h3>

    <br />
    <h3>Research</h3>

    <br />
    <h3>Software Engineering, Instagram</h3>

    <br />
    <h3>Design & User Experience, Research, Instagram</h3>

    <br />
    <h3>Instagram</h3>

  </div>
</div>


{% endblock %}
