{% extends 'base.html' %}

{% block specific_css_links %}

{% endblock %}

{% block content %}
<div class="profile-settings-content-card">

  <!-- left navigation part -->
  <div class="profile-settings-content-card-left-part">
    <ul>
      <a href="">Edit Profile</a>
      <a href="">Change Password</a>
      <a href="">Email and SMS</a>
      <a href="">Privacy and Security</a>
    </ul>
  </div>

  <!-- right content part -->
  <div class="profile-settings-content-card-right-part">

    <!-- profile info form -->
    <form class="profile-settings-info-form">
      <label>Name</label>
      <input type="password" placeholder="Old Password" />

      <label>Username</label>
      <input type="password" placeholder="New Password" />

      <label>Website</label>
      <input type="passwrd" placeholder="Confirm New Password" />


      <input value="Change Password" class="profile-info-form-submit-btn" type="submit" />
    </form>
  </div>

</div><!-- e/main card -->
{% endblock %}
