/* TOP NAV ------------------------------------------------------------ */

.help-centre-top-nav {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  width: 100;
  background-color: white;
  height: 75px;
  border-bottom: 1px solid #EFEFEF;
}

.help-centre-top-nav-logo {
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 10%;
}

.help-centre-top-nav form {
  margin-left: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

.search-submit-btn {
  color: grey;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #DBDBDB;
  font-size: 14px;
  background-color: #FAFAFA;
  margin-right: -5px;
  border-right: 0px;
}

.help-centre-top-nav form input {
  padding: 5px 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #FAFAFA;
  color: black;
  border: 1px solid #DBDBDB;
  font-size: 14px;
  border-left: 0px;
}

/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}
