.help-centre-content-card {
  position: relative;
  background-color: #FFFFFF;
  height: auto;
  width: 100%;
  margin-top: 140px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.help-centre-content-card-top-part {
  height: 60px;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
}

.help-centre-content-card-top-part h1 {
  font-size: 20px;
  margin-left: 15px;
  position: absolute;
  margin-top: 15px;
}

.help-centre-content-card-left-part {
  height: auto;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.help-centre-content-card-left-part ul a {
  text-decoration: none;
}

.help-centre-content-card-left-part ul a li {
  list-style-type: none;
  font-family: "Roboto";
  padding: 15px 10px;
  margin-bottom: 1px;
  border-left: 3px solid transparent;
  color: black;
  font-size: 15px;
}

.help-centre-content-card-left-part ul a li:hover {
  border-left: 3px solid lightgrey;
}

.help-centre-content-card-right-part {
  display: inline-block;
  height: auto;
  width: 78%;
  border-left: 1px solid #DBDBDB;
}

.help-centre-content-card-right-part h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

.help-centre-content-card-right-part h3 {
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 30px;
}

.help-centre-content-card-right-part p {
  margin-left: 30px;
  margin-top: 15px;
}

.help-centre-content-card-right-part p a {
  color: #3B99F0;
  text-decoration: none;
}

.help-centre-content-card-right-part ul {
  margin-left: 50px;
  margin-top: 15px;
}

.help-centre-content-card-right-part ul a {
  text-decoration: none;
}

.help-centre-content-card-right-part ul a li {
  list-style-type: none;
  font-family: "Roboto";
  color: #3B99F0;
  margin-top: 4px;
  font-size: 15px;
}

.help-centre-content-card-right-part-search-link {
  color: #3B99F0;
  text-decoration: none;
  margin-bottom: 15px;
}

.help-centre-content-card-right-part-search-link:hover {
  text-decoration: underline;
}



/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  .help-centre-content-card {
    width: 100%;
    margin-top: 100px;
  }

  .help-centre-content-card-left-part {
    width: 100%;
    display: block;
  }

  .help-centre-content-card-right-part {
    display: block;
    height: auto;
    width: 100%;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  .help-centre-content-card {
    width: 100%;
    margin-top: 100px;
  }

  .help-centre-content-card-left-part {
    width: 100%;
    display: block;
  }

  .help-centre-content-card-right-part {
    display: block;
    height: auto;
    width: 100%;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
  .help-centre-content-card {
    width: 100%;
    margin-top: 100px;
  }

  .help-centre-content-card-left-part {
    width: 100%;
    display: block;
  }

  .help-centre-content-card-right-part {
    display: block;
    height: auto;
    width: 100%;
  }
}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {

}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}
